body {

}
h1 {

}
h2 {

}
section {

}

footer {
    
}
#unicorn {
    width: 900px;
    height: 900px;
    position: relative;
}
.unicorn-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#titleBottom {
    width: 900px;
    height: 120px;
    overflow: hidden;
    position: relative;
    top: -210px;
    left: -40px;
}
#myInfo {
    background-color: white;
    position: relative;
    width: 900px;
    height: 120px;
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 36px;
}
#prefPronoun {
    width: 470px;
}
#prefName {
    width: 345px;
}
.infos {
    float: left;
    margin-right: 10px;
}
.okButton {
    display: inline-block;
    font-size: 17px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #a7bba7;
    color: white;
    position: relative;
    top: 7px;
}
.okButton span {
    position: relative;
    top: -6px;
    left: 3px;
}
.editButton {
    font-size: 12px;
    padding: 5px;
    position: relative;
    top: -4px;
    left: 5px;
    cursor: pointer;
    color: #aaa;
}
.overlayMe {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 30px;
    color: #673AB7;
    font-family: monospace;
}
.idWords .overlay {
    width: 280px;
    font-size: 20px;
    top: -2px;
}
.idWords .okButton {
    top: -2px;
}
.idWords .okButton span {
    top: 2px;
}
.overlayMe.idWords {
    position: absolute;
    top: 137px;
    left: 620px;
}
.overlayMe.idWords#genderExp {
    top: 246px;
    left: 650px;
}
.overlayMe.idWords#genderAssign {
    top: 356px;
    left: 680px;
}
.overlayMe.idWords#sexOrient {
    top: 460px;
    left: 696px;
}
.overlayMe.idWords#romOrient {
    top: 572px;
    left: 710px;
}
.customOther {    
    top: 89px;
    left: 710px;
    width: 210px;
    margin: 0;
    padding: 0;
}
.customOther .otherForm {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%
}
.customOther .editButton.showForm {
    position: relative;
    left: 115px;
    top: 2px;
}
.customOther#otherGID {
    top: 89px;
}
.customOther#otherGEx {
    top: 179px;
}
.customOther#otherSXO {
    top: 368px;
}
.customOther#otherRMO {
    top: 457px;
}
.customOther .okButton {
    top: -3px;
    top: -2px;
    background-color: wheat;
}
.customOther .okButton span {
    top: 2px;
}
.customOther .overlay {
    font-size: 24px;
    top: -3px;
    padding-top: 0;
}
.customOther#otherGEx .editButton.showForm{
    left: 40px;
}
.marker {
    position: absolute;
    left: 380px;
    color: black;
    font-size: 31px;
    cursor: pointer;
}
.marker.toggle {
    opacity: 0;
}
.tserLink {
    position: absolute;
    cursor: pointer;
    color: white;
}
.tserLink-bottom {
    height: 100%;
    width: 20%;
    right: 40px;
}
.tserLink-top {
    top: 587px;
    left: 10px;
    width: 220px;
    height: 50px;
}
#identity-1 {
    top: 160px;
}
#identity-2 {
    top: 180px;
}
#identity-3 {
    top: 201px;
}
#expression-1 {
    top: 270px;
}
#expression-2 {
    top: 290px;
}
#expression-3 {
    top: 311px;
}
#assignment-1 {
    top: 407px;
    left: 396px;
}
#assignment-2 {
    top: 407px;
    left: 527px;
}
#assignment-3 {
    top: 407px;
    left: 655px;
}
#sexorientation-1 {
    top: 483px;
}
#sexorientation-2 {
    top: 503px;
}
#sexorientation-3 {
    top: 524px;
}
#romorientation-1 {
    top: 595px;
}
#romorientation-2 {
    top: 615px;
}
#romorientation-3 {
    top: 636px;
}
/* responsive styles! */
@media screen and (max-width: 1015px) {
    
}
